streamlit 
spacy==3.6.1
dateparser
requests
openai
pip==25.0.1
pandas==1.5.3
timedelta
numpy==1.23.5
watchdog
setuptools
wheel
spacy-lookups-data  # Required for some spaCy models
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz

